{% extends 'base-admin.html' %}


{% block content %}
<br><br>
<div class="div-container">
    <div>
        <h2>EDIT COMMENT</h2>
        <hr style="border: 1px solid grey;"/>
    </div>
</div>

<br><br>
<div class="div-container">
    <form action="" method="POST" style="width: 40%;">{% csrf_token %}
        {{form}}

        <a class="btn btn-secondary mt-4 w-1" href="{% url 'comments' %}">Cancel</a>
        <button type="submit" class="btn btn-secondary mt-4 w-1">Save</button>
    </form>
</div>
<br><br>

<style>
    .div-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    
    .w-1 {
        width: 15%;
    }
</style>
{% endblock content %}