{% extends 'base-admin.html' %}

{% block content %}
<br><br><br>
<div class="d-flex flex-column align-items-center">
    <div>
        <h2>NEW POST</h2>
        <hr style="border: 1px solid grey;"/>
    </div>
</div>

<br><br>
<div class="div-edit-content">
   <div style="width: 50%;">
        <form action="" method="POST">{% csrf_token %}
    
            {{form}}

            <div class="mt-4">
                <a class="btn btn-secondary w-1" href="{% url '_admin2-post' %}">cancel</a>
                <button class="config btn btn-secondary w-1" type="submit">save</button>
            </div>
        </form>
    </div>

</div>
<br><br><br><br>


<style>
    .bt {
        border: 1px solid blue;
    }

    .div-edit-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .w-1 {
        width: 20%;
    }
</style>

<script>
    
    document.getElementById("txtArea").value = document.getElementById('txt-input').value
    
    
    
</script>


{% endblock content %}