{% extends 'base-admin.html' %}
{% load static %}

{% block content %}
<br><br><br>

<div class="table-container">
    <h2>TODOS LOS POST</h2>
</div>

<br>
<div class="table-container">
    <div class="div-container">
        <div class="div-search">
            <a href="{% url '_admin2-post-new' %}">
                <i class="fas fa-plus-circle fa-2x"></i>
            </a>
            <input type="text" onkeyup="myFunction()" placeholder="Buscar..." id="myInput">
        </div>
    

        <table class="table-content" id="example">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO POST</th>
                    <th>FECHA CREACIÓN</th>
                    <th>ESCRITOR</th>
                    <th>ACCION</th>
                </tr>
            </thead>

            <tbody>
                {%for i in data%}
                       <tr>
                           <td>{{i.id}}</td>
                           <td>{{i.title}}</td>
                           <td>{{i.created}}</td>
                           <td>{{i.user_id}}</td>
                           <td>
                                <div><!--href="{% url '_admin2-post-delete' i.id %}"-->
                                    <a class="link" href="{% url '_admin2-post-edit' i.id %}">
                                        <i class="fas fa-edit mr-3"></i>
                                    </a>
                                    <a class="link">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    
                                </div>
                           </td>
                       </tr> 
                {%endfor%}
            </tbody>
        </table>

    </div>

</div>

<style>
    .bt {
        border: 1px solid blue;
    }

    .table-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .div-container{
        display: flex;
        flex-direction: column;
    }

    .div-container input{
        width: 40%;
        align-self: flex-end;
        border-radius: 10px;
        border: 1px solid gray;
        padding: 0.5%;
    }

    .table-content {
        width: auto;
        margin-top: 3%;
    }

    .table-content thead {
        background-color: gray;
        text-align: center;
    }

    .table-content tbody {
        background-color: rgb(186, 184, 187);
        text-align: center;
    }

    .table-content thead th {
        border: 1px solid gray;
        padding: 1vh;
    }

    .table-content tbody td {
        border: 1px solid gray;
        padding: 1vh;
    }

    .fa-edit:hover{
        color: rgb(158, 158, 23);
    }

    .fa-trash:hover{
        color:rgb(180, 12, 12);
    }

    .fa-plus-circle:hover{
        color: blue;
    }

    .div-search{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .link{
        color: black;
        text-decoration: none;
    }
</style>

<script src="{% static 'static_jquery/js/jquery.js' %}"></script>

<script>
$('#example tbody').on( 'click', '.fa-trash', function () {
    id = $(this).parents("tr").find("td").eq(0).text()
    trash(id)
})

function trash(id){
        var url = "{% url '_admin2-post-delete' 123 %}";

        let op = confirm('ATENCION: UD. VA A ELIMINAR ESTE POST. ¿DESEA HACERLO?')
        if (op){
             document.location.href = url.replace('123', id);
        }else{
            return
        }
}

function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, j, visible;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("example");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    visible = false;
    /* Obtenemos todas las celdas de la fila, no sólo la primera */
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        visible = true;
      }
    }
    if (visible === true) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
</script>
{% endblock content %}