{% extends 'base.html' %}
{% load static %}

    
{% block content %}

<!--banner start -->
<div class="banner-main">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">ODS<br>
                            <span style="color: #787dc2">Por un mejor mundo</span>
                        </h1>
                        <p class="long_text">El proyecto Archiblox una casa modular ecológica y prefabricada que generan más energía que la que consumen.</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">Solo 17 Pasos<br>
                            <span style="color: #787dc2">Para mejorar el Mundo hacen falta las acciones</span>
                        </h1>
                        <p class="long_text">El sector del transporte presenta un enfoque hacia el transporte no motorizado y público.</p>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">Juntos<br>
                            <span style="color:#787dc2">Podemos Hacerlo</span>
                        </h1>
                        <p class="long_text">En el sector de la moda ecológica, se encuentran soluciones que abarca desde hilados de redes de pesca o prendas de segunda mano para niños a una nueva forma de tejido teñido e incluso un servicio de reparación para los pantalones vaqueros. La imaginación del empresario por proyectar productos innovadores ecológicos con base tecnológica es una buena aportunidad de llegar a un mercado que cada vez demanda más un proyecto innovador y que sea sostenible.</p>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!--banner end -->

<!--services start -->
<div class="services_main">
    <div class="container">
        <div class="creative_taital">
            <h1 class="creative_text">Un Mundo Mejor Es Posible</h1>
            <p style="color: #050000; text-align: center;">En realidad estos proyectos ecológicos, colaborativos o educativos, en parte,  dan respuesta a una pregunta simple…. ¿Tenemos soluciones que pueden ofrecer oportunidades de lucha contra el cambio climático o un avance rápido hacia un futuro ecológico y sostenible para todos?</p>
            <div class="btn_main">
                {% if user.is_authenticated %}
                    <a type="button" href="{% url 'logout' %}" class="btn btn-dark btn-lg">Logout</a>
                {% else %}
                    <a type="button" href="{% url 'login' %}" class="btn btn-dark btn-lg">Login</a>
                {%endif%}
            
            </div>
        </div>
        <div class="section_service_2">
            <h1 class="service_text">Post</h1>
        </div>
        
        <div class="service_main">
            <div class="row d-flex justify-content-center">
                <div class="card-content">
                    {% for i in data %}
                    <div class="written_text ml-5">
                        <h1 class="written_text">{{i.title}}</h1>
                        <p>{{i.content}}</p>
                        <div class="seccion1-container">
                            <p>Escritor: {{i.user_id}}</p>
                            <p>Fecha: {{i.created}}</p>
                        </div>
                        <div class="d-flex flex-column">
                            <form action="{% url 'saveComment' %}" method="POST">{% csrf_token %}
                                {{form}}
                                
                                <input type="text" name="post_id" hidden value={{i.id}}>
                                
                                <div class="d-flex align-items-center justify-content-between" style="height: auto;">
                                    <button type="submit" class="btn btn-secondary mt-4">Comment</button>
                                    
                                    <a href="{% url 'comment-detail' i.id %}" class="btn btn-secondary mt-4">see comments</a>
                                    
                                    <div class="d-flex align-items-center p-0">
                                        {% for x in comments %}
                                            {% if x.id_post == i.id %}
                                            <p class="mt-3">{{x.nro_comments}}</p>
                                            {% endif %}
                                        {% endfor %}
                                        <i class="fas fa-comments fa-2x"></i>
                                    </div>
                                 </div>
                                
                            </form>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <br><br><br>
    </div>
</div>

<!--services end -->

<!--Contact_section start -->
<div class="contact_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="touch_text">Contactenos</h1>
            </div>
        </div>
    </div>
    <div class="contact_section_2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="{% static 'images/map-icon.png' %}" style="max-width: 100%;padding-left: 30px; ">
                        <p class="email-text"><a href="#">Chaco - Argentina<br>AR</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="{% static 'images/call-icon.png' %}" style="max-width: 100%;padding-left: 30px;">
                        <p class="email-text"><a href="#">+7123654897</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="{% static 'images/email-icon.png' %}" style="max-width: 100%; padding-left: 30px;">
                        <p class="email-text"><a href="#">pythonDevs@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Contact_section end -->


    <style>
        .banner-main {
            width: 100%;
            float: left;
            background-image:url("{% static 'images/bosque.jpg' %}");
            height: auto;
            padding-top: 20px;
            padding-bottom: 226px;
            background-size: cover;
        }

        .services_main {
            width: 100%;
            float: left;
            background-color: #8abb83;
            height: auto;
            padding-bottom: 30px;
            padding-top: 30px;
        }

        .service_main {
            width: 100%;
        }

        .card-content {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
        }

        .written_text {
            width: 100%;
            float: left;
            background-color: #072833;
            height: auto;
            padding: 20px;
        }


        .seccion1-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
    {% endblock content %}