{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--banner start -->
<div class="banner-main">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">Welcome To<br>
                            <span style="color: #787dc2">Content Writing Services</span>
                        </h1>
                        <p class="long_text">It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking </p>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">Welcome To<br>
                            <span style="color: #787dc2">Content Writing Services</span>
                        </h1>
                        <p class="long_text">It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking </p>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="titlepage-h1">
                        <h1 class="bnner_title">Welcome To<br>
                            <span style="color:#787dc2">Content Writing Services</span>
                        </h1>
                        <p class="long_text">It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking </p>
                    </div>

                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!--banner end -->

<!--services start -->
<div class="services_main">
    <div class="container">
        <div class="creative_taital">
            <h1 class="creative_text">Creative Content Writing Services</h1>
            <p style="color: #050000; text-align: center;">It is a long established fact that a reader will be
                distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum
                is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content
                here', making it look like readable English. Many desktop publishing packages and web page editors now
                use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                still in their infancIt is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it
                look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                infanc</p>
            <div class="btn_main">
                <a type="button" href="{% url 'login' %}" class="btn btn-dark btn-lg">Login</a>
            </div>
        </div>
        <div class="section_service_2">
            <h1 class="service_text">Post</h1>
        </div>

        <div class="service_main">
            <div class="row d-flex justify-content-center">
                <div class="card-content">
                    {% for i in data %}
                    <div class="written_text ml-5">
                        <h1 class="written_text">{{i.title}}</h1>
                        <p>{{i.content}}</p>
                        <div class="seccion1-container">
                            <p>Escritor: {{i.user_id}}</p>
                            <p>Fecha: {{i.created}}</p>
                        </div>
                        <div class="d-flex flex-column">
                            <form action="{% url 'saveComment' %}" method="POST">{% csrf_token %}
                                {{form}}
                        
                                <input type="text" name="post_id" hidden value={{i.id}}>
                                <button type="submit" class="btn btn-secondary mt-4">Comentar</button>
                            </form>
                            
                                
                            
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
<!--services end -->

<!--Contact_section start -->
<div class="contact_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="touch_text">Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="contact_section_2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="{% static 'images/map-icon.png' %}" style="max-width: 100%;padding-left: 30px; ">
                        <p class="email-text"><a href="#">Chaco - Argentina<br>AR</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="{% static 'images/call-icon.png' %}" style="max-width: 100%;padding-left: 30px;">
                        <p class="email-text"><a href="#">+7123654897</a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="map_icon">
                        <img src="{% static 'images/email-icon.png' %}" style="max-width: 100%; padding-left: 30px;">
                        <p class="email-text"><a href="#">pythonDevs@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Contact_section end -->


<style>
    .banner-main {
        width: 100%;
        float: left;
        background-image:url("{% static 'images/bosque.jpg' %}");
        height: auto;
        padding-top: 20px;
        padding-bottom: 226px;
        background-size: cover;
    }

    .services_main {
        width: 100%;
        float: left;
        background-color: #8abb83;
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .service_main {
        width: 100%;
    }

    .card-content {
        display: flex;
        flex-wrap:wrap;
        width: 80%;
    }

    .written_text {
        width: 100%;
        float: left;
        background-color: #072833;
        height: auto;
        padding: 20px;
    }


    .seccion1-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
{% endblock content %}